<div class="moviecategories-show--wrapper">
  
  <h2 class="page-title">
    <span>ポートフォリオの作り方</span>
  </h2>
  
  <div class="movie">
    <div id="movie-layer" class="movie-layer">セレブエンジニアリング</div>
    <div class="iframe-responsive">
      <iframe width="480" height="340" src="https://www.youtube.com/embed/UnwPmOROW2g?modestbranding=1" frameborder="0" allowfullscreen  oncontextmenu='return false'></iframe>
    </div>
  </div>
</div>
    
<script>
  $('.hide-movie').hide();
</script>