<p>
    セレブエンジニアサロンの皆さん、こんにちは。<br>
    小松です。
</p>

<p>
    新しいイベントが投稿されました！<br>
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <p class="inline"><%= @new_event.title %></p>
    サロンページのイベント一覧よりご確認下さい！
</p>

<p>
	セレブエンジニアサロンメンバー限定サイトはこちら
	http://www.celebrity-engineer-members.com/login
</p>