<h2 class="page-title-jp">
  <span>新規投稿</span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@interviewpost, html:{:id => 'interview-new-form'}) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
        <div class="center">
          <%= f.submit '登録', {class: 'btn btn-default active post-regist' }%>
        </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#interview-new-form").validationEngine();
  });
</script>
