<aside class="col-sm-3">
  <div class="panel panel-default">
    <div class="sidebar-wrapper">
      <div class="panel-heading">
        Menu
      </div>
      <ul class="nav nav-pills nav-stacked sidebar-nav">
        <% @categories_all.each do |category| %>
          <li><%= link_to category.name, movie_category_path(category), class: "#{'disabled' unless before_category_comp?(category)}" %></li>
        <% end %>
        <li><%= link_to 'Progate進捗入力', progate_path, class: "#{'disabled' unless send_feedbacks_comp?}" %></li>
        <li><%= link_to 'RailsTutorial進捗入力', railstutorial_path, class: "#{'disabled' unless progate_comp?}" %></li>
        <li><%= link_to 'よくある質問', qa_path %></li>
      </ul>
    </div>
  </div>
</aside>