<!--<form class="form-horizontal text-center" role="form">-->
<!--	<div class="form-group">-->
<!--		<label for="stringLengthText" class="col-sm-3 control-label">文字数チェックのテキスト</label>-->
<!--		<div class="col-sm-4">-->
<!--			<input type="text" class="form-control" id="stringLengthText" name="stringLengthText" placeholder="5文字以内で入力してください">-->
<!--		</div>-->
<!--	</div>-->
<!--</form>-->