<%= bootstrap_form_for(:user ,  html: {class: 'form-group'}) do |f| %>
  <%= f.text_area :感想,:id => "Tobj1", :size=>"7x7", :maxlength => "500",
      :placeholder => "100-500文字で入力してください", required: true, :onchange => "Limit(event)", :onkeyup => "Limit(event)"%>
      <br><span id="msg1">文字数カウント</span><br><div style="color: red;" class="has-error"></div>
  <%= f.submit "送信", class: "btn btn-primary btn-lg submit-btn", disabled: true %>
<% end %>

<script language="JavaScript">
var str1 = document.js.authenticity_token.value;
var max=500; //制限文字数
var min=100;
function Limit(event){
Tarea= document.getElementById("Tobj1");
  Mcnt= document.getElementById("msg1");
  mojiVal= Tarea.value; //テキストエリアの文字数
  val= mojiVal.replace(/\n|\r\n/g,"");//改行を除く
  val= val.length; //改行を含めない文字数
    Etype=event.type; //イベントのタイプを取得

if(Etype== "keyup"){//イベントのタイプが"Keyup"なら
  Mcnt.innerHTML= //文字数のカウントを表示
"<span style='font-weight: bold;color:blue ;'>"+val+"</span>文字";
  }
}

</script>
<script>

$(function(){
    var     $text = $("textarea"),
            $button = $('.submit-btn'),
            disabled_class = 'disabled';
 
    if($text.val().length == 0) {
        $button.prop('disabled',true).addClass('disabled');
    }
 
    $text.bind('keydown keyup keypress change',function(){
        var thisValueLength = $(this).val().length;
        if(thisValueLength >= 100){
            $button.prop('disabled',false).removeClass(disabled_class);
            jQuery( '.has-error' ).hide();
        }else{
            $button.prop('disabled',true).addClass(disabled_class);
            jQuery( '.has-error' ) . text( '100文字以上入力してください' );
            jQuery( '.has-error' ).show();
        }
    });
});
</script>