<!--ajax で更新-->
<%#= form_tag(url_for(:action => 'update_time'), :remote => true) do %>
  <%#= text_field_tag :greeting %>
  <%#= submit_tag "Show!" %>
<%# end %>
<!---->

<%= bootstrap_form_tag url:'/progate', html: {class: 'form-group'}, :remote => true  do |f| %>
  <%= f.text_area :impression ,:id => "Tobj1", :size=>"7x7", :maxlength => "500",
      :placeholder => "100-500文字で入力してください", required: true, :onchange => "Limit(event)", :onkeyup => "Limit(event)" %>
      <span id="msg1">文字数カウント</span>
      <div style="color: red;" class="has-error"></div>
  <%= f.submit "送信", class: "btn btn-primary btn-lg submit-btn", disabled: false %>
<% end %>

<!--for develop start-->
<div >【検証用】送信ボタン押下-> この下にajaxの送信内容が出力されます</div>
<textarea rows="7" cols="7" id="result" ></textarea>
<!--for develop end-->  

<div >【検証用】この下にajaxの送信内容が出力されます</div>
<div id="result"></div>
