<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "User一覧", help_path %></li>
        <li><%= link_to "Mypage", about_path %></li>
        <li><%= link_to "logout", root_path %></li>

      </ul>
    </nav>
  </div>
</header>