<div class="container">
  <header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "ユーザー一覧", help_path %></li>
        <li><%= link_to "Mypage", about_path %></li>
        <li><%= link_to "logout", root_path %></li>
      </ul>
    </nav>
  </div>
  <div class="text-success, bg-success">
    <h1>セレブエンジニアサロン</h1>
</header>
</div>
