<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">"動画名"をみた感想</h4>
      </div>
      
      <div class="modal-body">
        <form role="form" data-toggle="validator">
          <div class="form-group">
            <div class="help-block with-errors">エラー表示よう</div>
            <label for="message-text" class="control-label" >感想(100文字以上):</label>
            <textarea class="form-control" id="message-text"　data-minlength="99" required></textarea>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="pushed_send">Send message</button>
      </div>
    </div>
  </div>
</div>



