<div class="header">
  <div class="content-wrap">
    
    <!--▼ロゴ-->
    <%= link_to root_path, class: "link-to-top" do %>
      <%= image_tag "logo_header.png", id: "logo-header" %>
    <% end %>
    
    <button class="nav-button">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <nav class="nav-wrap">
      <ul class="nav">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    
  </div>
</div>



<script>
  (function() {
    $('.nav-button').on('click',function(){
      if( $(this).hasClass('active') ){
        $(this).removeClass('active');
        $('.nav-wrap').addClass('close').removeClass('open');
      }else {
        $(this).addClass('active');
        $('.nav-wrap').addClass('open').removeClass('close'); 
      }
  });
  }());
</script>