<h1 class="txt2">イベント内容編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@eventpost) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
        <div id="centering">
          <%= f.submit "更新", {class: 'btn btn-primary post-update' } %>
        </div>
    <% end %>
  </div>
</div>