<!--テンプレートのソースを変更-->
<% content_for :entrance do %>

<% provide(:title, "Forgot password") %>
<div class="form-entrance-reset">
  <div class="form-entrance--wrapper">
    <h6 class="form-entrance--title">パスワードをお忘れの方へ</h6>
    <ul class="form-entrance--message">
      <li>以下のフォームにご登録メールアドレスを入力し、</li>
      <li>「パスワードの再設定申請」ボタンを押してください。</li>
      <br>
      <li>パスワードの再設定ページがメールで通知されますので、</li>
      <li>そのURLをブラウザで開いてください。</li>
    </ul>
    
    <%= form_for(:password_reset, url: password_resets_path, html:{:id => 'password-reset-new-form'}) do |f| %>
      <%= f.label :email, 'ご登録メールアドレス', class: 'form-entrance--label' %>
      <%= f.email_field :email, class: 'form-entrance--textbox validate[required,maxSize[50],custom[email]] text-input', :onkeyup => "EmailLength(value);" %>
      <p id="email-input-length">0文字</p>

      <%= image_submit_tag("button_password.png", class: "form-entrance--button") %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#password-reset-new-form").validationEngine({
    });
  });
  
  function EmailLength( str ) {
    document.getElementById("email-input-length").innerHTML = str.length + "文字";
  }
  
  $('form').validationEngine({validationEventTrigger:'keyup'});
</script>

<% end %>