<% provide(:title, "Forgot password") %>
<div class="form-window form-login-reset">
  <div class="form-window--wrapper">
    <h6 class="form-window--title">パスワードをお忘れの方へ</h6>
    <ul class="form-window--message">
      <li>以下のフォームにご登録メールアドレスを入力し、</li>
      <li>「パスワードの再設定申請」ボタンを押してください。</li>
      <br>
      <li>パスワードの再設定ページがメールで通知されますので、</li>
      <li>そのURLをブラウザで開いてください。</li>
    </ul>
    
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, 'ご登録メールアドレス', class: 'form-window--label' %>
      <%= f.email_field :email, class: 'form-window--textbox' %>

      <%= image_submit_tag("button_password.png", class: "form-window--button") %>
    <% end %>
  </div>
</div>