$max-sp-width: 767px;

$nav-bg-color-light: #222; //#605ca8
$nav-bg-color-dark: #000; //#555299
$nav-txt-color: #fff; //#fff
$nav-txt-color-selected: #f6f6f6; //#f6f6f6
$nav-logo-hover-color: #111; //#545096

$side-bg-color: #222; //#222d32
$side-bg-color-selected: #000; //#1e282c
$side-header-color: #222; //#1a2226
$side-header-txt-color: #eee; //#4b646f
$side-link-txt-color: #eee; //#b8c7ce
$side-tree-color: #222; //#2c3b41
$side-tree-txt-color: #eee; //#8aa4af
$side-form-color: #374850; //#374850
$side-form-focused-color: #fff; //#fff
$side-form-txt-color: #666; //#666
$side-form-input-height: 35px; //35px
$side-form-btn-color: #999; //#999


.custom-skin {
  
  // ***header***
  
  .main-header{
    .navbar {
      background-color: $nav-bg-color-light;
      
      .nav {
        li a {
          color: $nav-txt-color;
          
          &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: $nav-txt-color-selected;
          }
        }
        
        .open {
          a, a:hover, a:focus {
            background: rgba(0, 0, 0, 0.1);
            color: $nav-txt-color-selected;
          }
        }
        
        .active a {
          background: rgba(0, 0, 0, 0.1);
          color: $nav-txt-color-selected;
        }
      } //.nav
      
      .sidebar-toggle {
        color: $nav-txt-color;
        
        &:hover {
          background: rgba(0, 0, 0, 0.1);
          color: $nav-txt-color-selected;
          background-color: $nav-bg-color-dark;
        }
      } //.sidebar-toggle
      
      .logo {
        background-color: $nav-bg-color-dark;
        border-bottom: 0 solid transparent;
        color: $nav-txt-color;
        
        &:hover {
          background-color: $nav-logo-hover-color;
        }
      }
      
      li.user-header {
        background-color: $nav-bg-color-light;
      }
      
    } //.navbar
  } //.main-header
  
  
  // ***.sidebar-menu***
  
  .sidebar-menu {
    li {
      &.header {
        background: $side-header-color;
        color: $side-header-txt-color;
      }
      
      a {
        border-left: 3px solid transparent;
      }

      &:hover a, &.active a, &.menu-open a {
        background: $side-bg-color-selected;
        color: $nav-txt-color;
      }
      
      &.active a {
        border-left-color: $nav-bg-color-light;
      }
    } //li
    
    .treeview-menu {
      background: $side-tree-color;
      margin: 0 1px;
      
      li {
        a {
          color: $side-tree-txt-color;
        }
        
        &.active a, a:hover {
          color: $nav-txt-color;
        }
      } //li
    } //.treeview-menu
  } //.sidebar-menu
  
  .sidebar a {
    color: $side-link-txt-color;
      
    &:hover {
      text-decoration: none;
    }
  } //.sidebar a
  
  .sidebar-form {
    border: 1px solid $side-form-color;
    border-radius: 3px;
    margin: 10px 10px;
    
    input[type="text"], .btn {
      background-color: $side-form-color;
      border: 1px solid transparent;
      box-shadow: none;
      height: $side-form-input-height;
    }
    
    input[type="text"] {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      color: $side-form-txt-color;
      
      &:focus, &:focus + .input-group-btn .btn {
        background-color: $side-form-focused-color;
        color: $side-form-txt-color;
      }
    } //input[type="text"]
    
    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      color: $side-form-btn-color;
    }
  } //.sidebar-form
  
  .content-header {
      background: transparent;
  }
  .wrapper, .main-sidebar, .left-side {
      background-color: $side-bg-color;
  }
  .user-panel {
    .info, .info a {
      color: $nav-txt-color;
    }
  }
  
  
  // ***other***
  
  .user-image, .img-circle {
    background-color: #fff;
  }
  
  
  // ***responsive***
  
  @media (max-width: $max-sp-width) {
    .main-header .navbar .dropdown-menu li {
      &.divider {
        background-color: rgba(255, 255, 255, 0.1);
      }
      
      a {
        color: $nav-txt-color;
        
        &:hover {
          background: $nav-bg-color-dark;
        }
      } //a
    } //.main-header .navbar .dropdown-menu li
  } //@media (max-width: $max-sp-width) 
  
}