.body-wrapper {
  margin: 80px auto;
  //margin: 0 auto;
  background-color: #f4f4f4;
  //max-width: 900px;
}

.main-wrapper {
  width: 70vw;
  padding-top: 50px;
  padding-bottom: 30px;
  //max-width: 900px;
}

