.header{
  background-color: black;
  //width: 70vw;
  margin: 0 auto;
  //min-height: 50px;
  //margin-bottom: 20px;
  max-height: 100px;
  max-width: 1366px;
  overflow: hidden;
}

.navbar-wrapper{
  //padding: 0 200px;
  width: 70vw;
  //margin: 0 auto;
  max-width: 786px;
  
}


#logo-header {
  max-width: 350px;
  //vertical-align: middle;
  /*
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  */
}

#img-top {
  max-width: 1366px;
  width: 100vw;
}

/*
.top-phrase{
  font-size: 154%;
  line-height: 3em;
  color: #F8C810;
  padding-left: 20px;
  display: inline;
  &:hover {
    text-decoration: none;
  }
}


.collapse.navbar-collapse.navbar-right{
  text-align: right;
  //display: block;
}


.navbar-nav{
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 80%;
    line-height: 3em;
    //color: #FFFFFF;
}

*/

.navbar-nav > li > a {
  color: #f4e9db;
  &:hover {
    background-color: black;
  }
}
