.form-button {
  height: 40px;
}

.mv-btn {
  text-align: center;
}

.img-feed-btn {
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;  
}

.img-button {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;  
}

// ページネーションリンク（"views/kaminari/*"）
.custom-pagination {
  
  $height: 45px;

  list-style: none;
  height: $height;
  margin: 20px auto;
  letter-spacing: -5px;
  padding-left: 0; //bootstrap?対策
  
  li {
    display: inline-block;
    letter-spacing: normal;
    background-color: #fff;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    line-height: $height;
    vertical-align: top; // レイアウト崩れ防止
    
    &:first-child {
      border-left: 2px solid #c0c0c0;
    }
    &:last-child {
      border-right: 2px solid #c0c0c0;
    }
    &.current {
      background-color: #c0c0c0;
      * {
        color: #fff;
      }
    }
    &.first, &.prev, &.next, &.last {
      * {
        font-size: 30px;
      }
    }
    
    span, a {
      color: #000;
      font-size: 20px;
    }
    
    span {
      display: block;
      margin: 0 12px;
    }
    a {
     text-decoration: none;
    }
  }
  
}


//カリキュラム流れ
.study-top {
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

.study-flow {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  font-size: 16px;
}

.study-title {
  font-size: 20px;
  text-align: left;
  margin: 10px;
  display: inline-block;
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px black;
}

.study-detail {
  padding: 11px 25px 11px 30px;
  color: white;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 10px 40px 10px rgba(0,0,0,0.4);
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.study-detail:hover {
  color: #11114d;
}
.study-detail::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  border-radius: 10px;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
.study-detail:hover::after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.study-detail::before,
.study-detail::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.study-detail,
.study-detail::before,
.study-detail::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.study-box {
  position: relative;
}

.study-remark {
  display: none;
}

.study-box:hover .study-remark {
  display: block;
  color: #ff4500;
  font-size: 13px;
  background: none repeat scroll 0 0 #EEFFEE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  width: 230px;
  padding: 0.3em;
  position: absolute;
  top: 92%;
}

.arrow {
  text-align: center;
  margin-top: 13px;
  margin-bottom: -10px;
}

.arrow img{
  height: 45px;
  width: 60px;
}


// パネル（panelsの代替）
.information {
  width: 100%;
  //height: 804px;
  border: solid 2px #373737;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.information-head {
  height: 66px;
  line-height: 66px;
  padding-left: 18px;
  border-bottom: solid 2px #373737;
  background-color: #373737;
  font-size: 30px;
  color: #fff;
}
.information-body {
  padding: 20px;
}
.information-title {
  font-size: 22px;
  margin: 5px auto;
}

.information-list {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  
  li {
    font-weight: 18px;
  }
}

.information-box{
  display: inline-block;
  width: 190px;
  height: 180px;
  margin: 10px;
  box-shadow: 0px 0px 15px;
  border-radius: 5px;
}

.box-title{
  color: black;
  padding-top: 10px;
  text-align: center;
}

.frame-cover {
  width: 130px;
  height: 90px;
  margin-left: 30px;
  position: absolute;
  display: inline-block;
}

.frame iframe{
  width: 130px;
  height: 90px;
  margin-left: 30px;
}