// PC用（998px以上）
@media(min-width: 768px) {
  
  
}

//スマホ・タブレット用（997px以下）
@media (max-width: 767px) {
  
  .header {
    height: 60px;
  }
  .header-wrapper {
    // height: 60px;
  }
  #logo-header {
    height: 85%;
    width: auto;
  }
  
  // ハンバーガーメニュー
  .menu-button-for-sp {
    display: block;
  }
  
  
  
  .body-wrapper {
    margin-top: 60px;
  }
  .header-logo-wrapper a {
    top: -3px;
    left: -10px;
    height: 75px;
  }
  
  .footer {
    height: 30px;
  }
  .footer-wrapper {
    
  }
  #logo-footer {
    top: -18px;
    height: 60px;
    
  }
  
  .sidebar-wrapper {
    margin: 0 auto;
  }
  
  .top-index--wrapper {
    margin: 0 auto;
  }
  
  .moviecategories-show--wrapper {
    margin: 0 auto;
  }
  
}

