.sidebar-wrapper {
  width: 91.25%;
  margin-left: auto;
  margin-top: 50px;
  
}

.sidebar-title {
  // font-family: 'Prata', sans-serif;
  font-size: 24px;
  padding: 10px auto;
  text-align: center;
  border-bottom: solid 2px #373737;
}

.sidebar-list {
  width: 87.30%;
  border-top: solid 1px #373737;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  margin-top: 42px;
  
  
  li {
    padding: 8px 0;
    padding-left: 15px;
    border-bottom: solid 1px #373737;
    
    a {
      font-size: 16px;
      color: #000;
    }
    .disabled {
      //pointer-events: none;
      color: gray;
    }
  }
}