.page-title {
  //font-size: 3em;
  //letter-spacing: -2px;
  text-align: center;
  font-size: 30px;
  font-family: serif;
  border-bottom: 2px solid black;
  line-height: 2em;
  padding: 0 ;
  margin:30px auto;
  width: 25%;
}

/*
.txt1{
  font-size: 1vw;
}
*/
.txt1 {
  font-size: 1em;
}
.txt2 {
  font-size: 2em;
}
.txt4 {
  font-size: 1vw;
  word-break: break-all
}
.txt5 {
  font-size: 3vw;
}
.txt6 {
  font-size: 1px;
  padding: 3px 10px;
}
/*
.t_1 {
  font-size: 70%;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: $gray-light;
}



p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}
*/