/*@import url("./jquery.tagit.css"); */
/*@import url("./tagit.ui-zendesk.css"); */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require tagit.ui-zendesk
 *= require_self
 *= require rails_bootstrap_forms
 *= require jquery.tagit
 *= require ui-1.12.1-themes-base-jquery-ui
 
 */
body {
  background-color: gray;
  padding: 40px 0 0 0;
  display: absolute;
}

.navbar-fixed-top{
  width: 70vw;
  height: auto;
  max-width: 900px;
}

.body-wrapper, .navbar-wrapper{
  width: 70vw;
  margin: 0 auto;
  max-width: 900px;
}
.navbar{
  background-color: black;
  width: 70vw;
  margin: 0 auto;
  min-height: 50px;
  margin-bottom: 20px;
  max-height: 10px;
}
.navbar-nav{
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.panel {
  margin-top: 20px;
}

.body-wrapper{
  background-color: white;
  max-width: 900px;
}

.main-wrapper {
  padding-top: 30px;
  padding-bottom: 55px;
  max-width: 900px;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 80%;
    line-height: 3em;
    color: #FFFFFF;
}
.container{
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
  max-width: 900px;
  background-color: white;
}

footer {
  width: 70vw;
  max-width: 900px;
  background-color: white;
  padding: 10px 0;
  margin: 0 auto;
}
.row{
    margin-left: 0px; 
    margin-right: 0px; 
}

div.navbar-wrapper, .navbar{
  background-color: #222222;
  border-bottom: none;
}
.blank-box{
  height: 30px;
  background-color: black
}
.txt1{
  font-size: 1vw;
}
.txt2{
  font-size: 2vw;
}
.txt3{
  font-size: 1.5vw;
}
.txt4{
  font-size: 1vw;
  word-break:break-all
}
.txt5{
  font-size: 3vw;
}
.txt6{
  font-size: 1px;
  padding: 3px 10px;
}
.t_1 {
  font-size: 70%;
}

.btn{
  background-color:#00CCCC;
  color:black;
}
.btn-lg{
  text-align: center;
  font-size: 1vw;
}

.btn-comp {
  background-color: #248;
  color: #fff;
}

.btn-incomp {
  background-color: gray;
  color: #fff;
}

input#submit_button {
    width: 30vw;
    height: auto;
}

div#centering{
  text-align: center ;
}

.btn-delete{
  font-size: 1vw;
  position:relative;
  right: 3em
}

table{
  width: 50vw;
}

.align-center{
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.align-center img {
  margin-bottom: 1em;
  border-radius: 50%;
  width: 50%;
}

#upload-my-picture{
  display: none;
}

.edit-my-picture{
  text-align: center;
}

.btn-new {
  color: #FAFAFA;
  margin-left: 3em;
  border-radius: 25px;
  padding: 2px 18px;
  background-color: #00BFFF
}

.button_wrapper {
   text-align:center;
}

.post-regist, .post-update {
  color: #FAFAFA;
  border-radius: 25px;
  background-color: #00BFFF;
  width: 8em;
}


.post-delete {
  color: #FAFAFA;
  border-radius: 25px;
  background-color: #FF0000;
  width: 8em;
  margin-top: 1em;
}



#user_tags{
  width: 100%;
  max-width: 350px;
}
#tag-controll .edit_user{
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
}

/********************************************/
/*************modal form*********************/
/********************************************/
#modal-content{
	width:60%;
	max-width:80%;
	max-height:80%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:9999;
	position:fixed;
	background-color: white;
	overflow: auto;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	background-color:rgba(0,0,0,0.75);
	width:100%;
	height:120%;
	position:fixed;
	top:0;
	left:0;
}


#modal-content img{
  width: 50px;
  min-width: 20%;
}

.tag_icon{
  width: 4em;
}

.edit_tag .fileuploader{
  width: 5em;
  line-height: 0.5em;
}

.edit_tag input{
  wdith: 5em;
}

.edit_tag input{
  width: 6.3em;
  margin: 0;
}

#tag_icon{
  width: 17.3em;  
}

.edit_tag{
  display: inline-block;
}

/*****************登録済タグ**************/
/*****************************************/

.tag_regestered {
  width: 100%;
  max-width: 40%;
	margin: 0 auto ;
	font-weight: bold;
}

.tag_regestered ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tag_regestered ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
  max-width: 5%
}
.tag_regestered ul li{
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	background-color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 1.1em;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tag_regestered ul li .tag_displayed{
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 0 0.5em;
}
.tag_regestered ul .tag_displayed:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
	cursor : pointer;
}
.delete_icon{
  margin-left: 0.2em;
}