/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
body {
  background-color: gray;
  padding: 40px 0 0 0;
  display: absolute;
}

.navbar-fixed-top{
  width: 70vw;
  height: auto;
  max-width: 900px;
}

.body-wrapper, .navbar-wrapper{
  width: 70vw;
  margin: 0 auto;
  max-width: 900px;
}
.navbar{
  background-color: black;
  width: 70vw;
  margin: 0 auto;
  min-height: 50px;
  margin-bottom: 20px;
  max-height: 10px;
}
.navbar-nav{
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.panel {
  margin-top: 20px;
}

.body-wrapper{
  background-color: white;
  max-width: 900px;
}

.main-wrapper {
  padding-top: 30px;
  padding-bottom: 55px;
  max-width: 900px;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 1vw;
    line-height: 3em;
    color: #FFFFFF;
}
.container{
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
  max-width: 900px;
  background-color: white;
}

footer {
  width: 70vw;
  max-width: 900px;
  background-color: white;
  padding: 10px 0;
  margin: 0 auto;
}
.row{
    margin-left: 0px; 
    margin-right: 0px; 
}

div.navbar-wrapper, .navbar{
  background-color: #222222;
  border-bottom: none;
}
.blank-box{
  height: 30px;
  background-color: black
}
.txt1{
  font-size: 1vw;
}
.txt2{
  font-size: 2vw;
}
.txt3{
  font-size: 1.5vw;
}
.txt4{
  font-size: 1vw;
  word-break:break-all
}
.txt5{
  font-size: 3vw;
}
.txt6{
  font-size: 1px;
  padding: 3px 10px;
}
.btn{
  background-color:#00CCCC;
  color:black;
}
.btn-lg{
  text-align: center;
  font-size: 1vw;
}

.btn-comp {
  background-color: #248;
  color: #fff;
}

.btn-incomp {
  background-color: gray;
  color: #fff;
}

input#submit_button {
    width: 30vw;
    height: auto;
}

div#centering{
  text-align: center ;
}

.btn-delete{
  font-size: 1vw;
  position:relative;
  right: 3em
}

table{
  width: 50vw;
}
