/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

body{
  background-color: gray;
}

.body-wrapper, .navbar-wrapper{
  max-width: 850px;
  margin: 0 auto;
}
.navbar{
  margin-bottom: 0px;
}

.body-wrapper{
  background-color: white;
}


.top-pic-wrapper{
}

div.main-wrapper{
  padding-top: 50px;
  padding-bottom: 55px;
}

.top-phrase{
  font-size: large;
  line-height: 3em;
  color: #F8C810;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.row{
    margin-left: 0px; 
    margin-right: 0px; 
}
footer.container{
  background-color: white;
}
@media (min-width: 992px) {
    .container {
        width: 850px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: white;
    }
}
div.navbar-wrapper, .navbar{
  background-color: #222222;
  border-bottom: none;
}
.blank-box{
  height: 30px;
  background-color: white
}

@media (min-width: 768px){
.container {
    width: 100%;
}
div.navbar-wrapper, .navbar{
  background-color: #222222;
  border-bottom: none;
}
.blank-box{
  height: 30px;
  background-color: white
}
.navbar-wrapper{
    min-width: 700px;
    width: 60vw;
}

.body-wrapper{
    min-width: 700px;
    width: 60vw;
}

.img-responsive{
  width: 100%;
}
.body-wrapper{
    min-width: 700px;
    width: 60vw;
}

img{
   width:10vw;
    height: auto;
}

iframe{
   width:100%;
    height: auto;
}

.navbar-wrapper{
    min-width: 700px;
    width: 60vw;
}
.txt1{
  font-size: 1vw;
}
}