@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 55px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.collapse.navbar-collapse.navbar-right{
  text-align: right;
  display: block;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.mod-sampleBlock{
    padding:10px;
    background:#eee;
    *zoom:1;
}
.mod-sampleBlock:after{
    content:'';
    clear:both;
    display:table;
}
/* [ 2 ] */
.mod-sampleBlock .mod-sampleBlock-header{
    border-bottom:1px solid #000;
    margin:0 0 .5em;
}
.mod-sampleBlock .mod-sampleBlock-header h1{
    font-size:1.25em;
    margin:0;
}
/* [ 3 ] */
.mod-sampleBlock .mod-sampleBlock-image {
    float:right;
    margin:0 0 0 10px;
}
img {
   width: 100%;
   height: auto;
 }
 
 .movie {
   position: relative;
   width: 100%;
   padding-top: 56.25%;
   iframe {
     position: absolute;
　    top: 0;
     width: 100%;
     height: 100%;
     max-width: 500px;
     max-height: 360px;
   }
 } 