@import "bootstrap-sprockets";
@import "bootstrap";

/*ベースカラー*/
$frame-grey: #373737;
$background-grey: #f4f4f4;


/*定義した変数やクラスのインポート*/
@import "variables"; //ベースカラーなどの設定
@import "mixin";  //オリジナル設定のクラス

/* カスタムフォントの設定 */
@include font-face('flopdesign-kana', font_url('flopdesign-kana/flopdesign-kana'), null, null, ttf); //ヒラギノ Type
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300'); //Helvetica Type
@import url('https://fonts.googleapis.com/css?family=Prata'); //Bodoni72 Type


/*共通設定のインポート*/
@import "common";  //全体
@import "header";  //ヘッダー
@import "container";  //メインコンテンツ
@import "footer";  //フッター
@import "sidebar";  //サイドバー
@import "texts";  //テキスト
@import "forms";  //フォーム
@import "tables";  //テーブル
@import "parts";  //ボタンや矢印など




// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

// 【開発メンバーのみなさんへお願い】

// ただいまページ全体のレイアウトを調整中のため、
// みなさんにお願いしたいことがあります。


// このページの末尾に、ページごとにクラスを作成しました。

// 今後、ＣＳＳの記述が必要な場合は、編集ファイルに該当するクラスの｛｝内に記述してください。

// 該当するクラスが無い、または新規ページの場合、

// 下記の記述ルールに従って新しいクラスを作成し、

// ページのソース全体を、そのクラスを当てた<div>タグで囲ってください。

// （クラス内に記述することで、他ページへの意図しない影響を抑えます。）

// ※※そのクラス外のＣＳＳの編集は、原則避けてください。
// ※※クラス内の要素（タグ）に設定するクラス名やid名は、現時点では任意で構いません。。


// ーーークラス名設定のルールーーー
// クラス名：[ディレクトリ名]-[ファイル名]--wrapper

// （例：staticpages-index--wrapperの場合）
// 上記の例の場合、static_pagesフォルダのindexファイルを指します。
// ーーーーーーーーーーーーーーーー

// ーーーソース記述のルールーーー
// <div class="staticpages-index--wrapper">（１行目）

//   〜〜各ページのソース〜〜
  
// </div>（最後の行）
// ーーーーーーーーーーーーーーーー

// お手数をおかけしますが、どうかご協力をお願いします！

//何か不明な点があれば、春海に聞いてください( ´∀｀)

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊



.disabled {
  pointer-events: none;
  color: gray;
}

.mini-box {
  margin: 10px auto;
}

.inline {
  display: inline;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.form-control {
   width: 100%;
   height: auto;
  }
  
  
  
  
.movies-page--wrapper {
  max-width: 480px;
  margin: 0 auto;
  margin-top: 30px;
  
  .movie-title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #373737;
  }
  
}

.movie {
  position: relative;
  //width: 100%;
  width: 480px;
  height: 340px;
  //padding-top: 70%;
  margin: 15px auto;
  iframe {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    //max-width: 600px;
    //max-height: 432px;
  }
  .movie-layer {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    // max-width: 480px;
    width: 100%;
    height: 35px;
    background-color: #000;
    color: #f4f4f4;
    text-align: right;
    font-size: 18px;
    //font-family: serif;
    line-height: 35px;
    padding: 0 10px;
    //display: none;
    z-index: 2;
  }
}




/* ユーザ一覧&詳細ページ */

.table-index {
  width: 80%;
  table-layout: fixed;
  margin: 0 auto;
  text-align: center;  
}
/*
.table-status {
  width: 90%;
  table-layout: fixed;
  margin: 0 auto;
  margin-bottom: 50px;
}
*/
.table-header {
  background-color: black;
  color: white;
  font-weight: 400;
  text-align: center;
}


.top-index--wrapper {
  width: 97.0%;
  // margin: 0 auto;
  margin-top: 30px;
}


.welcome-message--wrapper {
  margin-bottom: 60px;
  p {
    font-size: 30px;
    text-align: center;
  }
}

.produce-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  
  li {
    font-size: 20px;
    margin: 30px 0;
  }
}
/*
.status-name {
  margin-left: 30px;
}



.forms {
  margin-bottom: 50px;
}



.user-delete {
  float: right;
  margin-right: 20px;
}

.user-edit {
  float: right;
  margin-right: 10px;
}

.btn-delete{
  font-size: 1vw;
  position:relative;
  right: 3em
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.mv-com {
  margin-top: 10px;
  margin-bottom: 20px;
}

// ページネーション
#paginate {
  text-align: center;
}
*/
// 動画管理系ページ

// 上矢印
.arrow-up {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 4px solid gray;
  border-right: 4px solid gray;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: auto;
}
// 下矢印
.arrow-down {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 4px solid gray;
  border-right: 4px solid gray;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: auto;
}
/*
.btn-wrapper {
  text-align: center;
  padding: 20px 0;
  a {
    margin: 0 10px;
  }
}

.category-form {
  margin: 20px 0;
}

.form-inline {
  margin-bottom: 10px;
}
*/
.category-title {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}


/*

.panel {
  margin-top: 20px;
}



.blank-box{
  height: 30px;
  background-color: black
}

.btn{
  background-color:#00CCCC;
  color:black;
}
.btn-lg{
  text-align: center;
  font-size: 1vw;
}

.btn-comp {
  background-color: #248;
  color: #fff;
}

.btn-incomp {
  background-color: gray;
  color: #fff;
}

input#submit_button {
    width: 30vw;
    height: auto;
}

div#centering{
  text-align: center ;
}

.btn-delete{
  font-size: 1vw;
  position:relative;
  right: 3em
}


.align-center{
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.align-center img {
  margin-bottom: 1em;
  border-radius: 50%;
  width: 50%;
}

#upload-my-picture{
  display: none;
}

.edit-my-picture{
  text-align: center;
}

*/

.btn-sm-1 {
  display: inline-block;
  width: 100%;
  margin-top: 1px;
}


// ポートフォリオの解説ページ
.com-main {
  text-align: center;
  padding-bottom: 30px;
  margin: 0 200px 0;
  
  h3 {
    font-size: 30px;
  }
  
  textarea {
    background: whitesmoke;
    height: 150px;
    margin-top: 30px;
  }
  
  input {
    background: whitesmoke;
    font-size: 18px;
    width: 20%;
    padding: 10px 0 10px;
    border-radius: 10px;
  }
}

.com-text {
  border-bottom: 2px solid lightgrey;
  text-align: center;
  padding: 60px 0 20px;
  margin: 0 10px 0;
}

#next_category_link {
  margin-top: 30px;
}

// 面談内容共有ページ
.att p {
  padding-left: 1em;
}

li.first-child {
  margin-right: 2.5em;
}




//＊＊＊＊＊＊こちらに記述してください＊＊＊＊＊＊


// ログイン後のトップページ
.top-index--wrapper {
  
}

// 動画管理ページ
.movies-index--wrapper {
  
}

// サロンメンバー一覧
.users-index--wrapper {
  
  td {
    word-break: break-word;
  }
  
}

// マイページ
.users-show--wrapper {
  
}

// プロゲート進捗
.staticpages-progate--wrapper {
  
}

// チュートリアル進捗 
.staticpages-railstutorial--wrapper {
  
}

// 動画閲覧ページ
.moviecategories-show--wrapper {
  max-width: 480px;
  //margin: 0 auto;
}


//＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊



@import "responsive";  //レスポンシブ関連の設定