// Place all the styles related to the Portfolio_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ポートフォリオのコメントページ
.po-main{
  text-align: center;
  padding-bottom: 500px;
  
  .user{
    float: left;
    margin-left: 150px;
    .favi {
      color: black;
      background-color: blue;
      padding: 50px;
    }
    .name{
      color: black;
      background-color: green;
      padding: 20px 50px;
    }
  }
  
  .portfolio{
    float: right;
    background-color: yellow;
    padding: 20px 80px;
    margin: 0 100px 0 0;
    .submit{
      float: right;
      
      display: inline-block;
      width: 50px;
    }
  }
  .portfolio_file{
  margin: 10px 0 0 0;
  width: 20vw;
  background-color: lightblue;
}

.portfolio_upload{
 margin: 0 ;
 width: 20vw;
 background-color: #f2dede;
}

  
  .comments {
    
    margin-left: 200px;
    width: 60%;
    textarea{
      margin-top: 50px;
 
    
    }
  }
}
  
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}