
/* スマホ向けレイアウト */

@media (max-width: 767px) {

  p {
    font-size: 0.3em;
  }

  h4 {
    font-size: 0.7em;
  }

  ul {
    padding: 0;
  }

  li {
    font-size: 0.2em;
  }
  
  .txt2 {
    margin-right: -30px;
    margin-left: -30px;
  }
  
  .panel {
    margin-right: -30px;
    margin-left: -30px;
  }
  
  .nav>li {
    float: left;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav>li>a {
    padding-top: 3.5px;
    padding-right: 5px;
    padding-bottom: 3.5px;
  }
}