<h2 class="page-title">
  <span>動画情報の編集</span>
</h2>

<%= render :partial => 'movie_form' %>

<div class="center mt_20">
  <%= link_to '<< 動画一覧へ戻る', movies_path %>
  <%= link_to '動画を削除', @movie, method: :delete, data: { confirm: '本当に削除しますか？' } %>  
</div>
