<h1 class="txt5">動画情報の編集</h1>

<%= render :partial => 'movie_form' %>

<div class="btn-wrapper">
  <%= link_to '<< 動画一覧へ戻る', movies_path %>
  <%= link_to '動画を削除', @movie, method: :delete, data: { confirm: '本当に削除しますか？' } %>  
</div>
