<h1>タグ一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タグ</th>
      <th>カラー</th>
      <th>アイコン</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.id %></td>
        <td><%= tag.tag %></td>
        <td><%= tag.color %></td>
        <td><%= tag.icon %></td>
    <% end %>
  </tbody>
</table>