<h2 class="page-title-jp">
  <span>カテゴリ情報の編集</span>
</h2>

<div id="sort_table">
  <% if @movies.present? %>
    <%= render :partial => 'movies/sort_table', locals: { movies: @movies, category: @movie_category } %>
  <% end %>
</div>

<%= render :partial => 'movie_category_form' %>

<div class="center mt_20">
  <%= link_to '<< 動画一覧へ戻る', movies_path %>
  <%= link_to 'カテゴリ削除', @movie_category, method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>