<h2 class="page-title">
  <span>IT用語解説</span>
</h2>

<div class="right">
  <%= form_tag(terms_path, method: :get) do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", size: 25 %>
    </p>
  <% end %>
</div>

<% if current_user.try(:admin) %>
  <div class="center">
    <%= link_to '新規登録', new_term_path, class: 'txt1' %>
  </div>
<% end %>

<div id="term_show">
  <%= render(:partial => 'searched', :object => @terms) %>
</div>


<script>
$('#search').on('keyup', function() {
  input = $.trim($(this).val());   //前後の不要な空白を削除
  ajax_term_search(input);
});
  
function ajax_term_search(input){
  // NOTE:rails のhelperを使用していないため CSRF用のTOKENをヘッダーに含める必要がある。
  $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
    var token;
    if (!options.crossDomain) {
      token = $('meta[name="csrf-token"]').attr('content');
      if (token) {
           return jqXHR.setRequestHeader('X-CSRF-Token', token);
       }
    }
  });
  
  $.ajax({ 
    url: 'terms/ajax_search', 
    type: 'GET', 
    data: ('key=' + input), 
    dataType: 'json' 
  })
  .done(function(response){
    debugger  
  })
  
}
  
</script>