<p>
    <%= @user_name %>さん、こんにちは。<br>
    セレブエンジニアサロンの小松です。
</p>

<p>
    下記サロンタスクの完了予定日を過ぎています！<br>
    <ul>
        <% @task_names.each do |task| %>
            <li><%= task %></li>
        <% end %>
    </ul>
    状況はいかがですか？
</p>

<p>
    セレブになれる人間は自分の決めたタスクを目標通り完了できる人間です。<br>
    まずは完了予定日を設定し直し、一歩一歩頑張りましょう！
</p>