<h1>パスワード再設定</h1>

<p>以下のリンクを押下し、パスワードを再設定してください。</p>

<%= link_to "パスワード変更", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクは2時間有効です。</p>

<p>
パスワード変更をリクエストしていない場合は、このメールを無視してください。パスワードは変更されません。
</p>