<p>
    <%= @user_name %>さん、こんにちは。<br>
    セレブエンジニアサロンの小松です。
</p>

<p>
    新しい動画が投稿されました！<br>
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <p class="inline"><%= @new_movie.title %></p>
    サロンページの新着動画一覧よりご確認下さい！
</p>

<p>
	セレブエンジニアサロンメンバー限定サイトはこちら
	http://www.celebrity-engineer-members.com/login
</p>