<table class="txt1 table-condensed table-status-schedule">
   <tr valign="baseline">
    <td>
      <h3 class="txt3">Blog一覧</h3>
    <td>
  </tr>
</table>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th class="table-header">タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @blog.each do |b| %>
      <tr>
        <td><%= b.title %></td>
      </tr>
      <% end %>
  </tbody>
</table>