<h2 class="page-title">
  <span>スキルシート投稿</span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@skillsheetpost) do |f| %>
  <div class="form-group">
    <%= @skillsheet.name %>
    <%= f.file_field :picture %>
    <%= f.submit "スキルシートを投稿する" %>
  </div>
<% end %>