<h2 class="page-title">
  <span>スキルシート一覧</span>
  </h2>
  
  <table class="table table-bordered table-striped table-index">
    <thead>
      <tr>
  <th width=10% class="table-header">ユーザ名</th>
     <th class="table-header">スキルシート</th>
     </tr>
    </thead>
          
          
  <% @users.each do |user| %>
    <% if user.existence %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= link_to user.skillsheet, user_path(user, user_id: user.id) if user.skillsheet %></td>
    <% end %>
  <% end %>