<% content_for :with_sidebar do %>
  <div class="staticpages-qa--wrapper">
    
    <h2 class="page-title">
      <span>IT用語解説</span>
    </h2>
    
    <!-- 用語集 bootstrap アコーディオン -->
    <div class="panel-group" id="sampleAccordion">
      <div class="panel panel-success">
        <div class="panel-heading">
        プログラミング言語
        </div>
      </div>
      
      <div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">
    				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
    					Ruby
    				</a>
    			</h3>
    		</div>
    		<div id="sampleAccordionCollapse1" class="panel-collapse collapse">
    			<div class="panel-body">
    		        Ruby（ルビー）は、まつもとゆきひろ（通称 Matz）により開発されたオブジェクト指向スクリプト言語であり、スクリプト言語が用いられてきた領域でのオブジェクト指向プログラミングを実現する。 また日本で開発されたプログラミング言語としては初めて国際電気標準会議で国際規格に認証された事例となった。
    			    <!--<br><a href = "https://www.ruby-lang.org/ja/about/">詳細はこちら</a>-->
    			</div>
    		</div>
    	</div>
    	
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">
    				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse2">
    					Ruby on Rails
    				</a>
    			</h3>
    		</div>
    		<div id="sampleAccordionCollapse2" class="panel-collapse collapse">
    			<div class="panel-body">
    				Ruby on Rails（ルビーオンレイルズ）は、オープンソースのWebアプリケーションフレームワークである。 RoRまたは単にRailsと呼ばれる。 その名にも示されているようにRubyで書かれている。 またModel View Controller（MVC）アーキテクチャに基づいて構築されている。
    			</div>
    		</div>
    	</div>
    	
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">
    				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse3">
    					HTML
    				</a>
    			</h3>
    		</div>
    		<div id="sampleAccordionCollapse3" class="panel-collapse collapse">
    			<div class="panel-body">
    				HyperText Markup Language（ハイパーテキスト マークアップ ランゲージ、HTML（エイチティーエムエル））は、ハイパーテキストを記述するためのマークアップ言語の1つである。
    			</div>
    		</div>
    	</div>
    	
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">
    				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse4">
    					CSS
    				</a>
    			</h3>
    		</div>
    		<div id="sampleAccordionCollapse4" class="panel-collapse collapse">
    			<div class="panel-body">
    				CSS（Cascading Style Sheets、カスケーディング・スタイル・シート）とは、ウェブページのスタイルを指定するための言語です。 ワープロソフトなどで作成される文書も含めて、文書のスタイルを指定する技術全般をスタイルシートといいます。
    			</div>
    		</div>
    	</div>
    	
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title">
    				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse5">
    					JavaScript
    				</a>
    			</h3>
    		</div>
    		<div id="sampleAccordionCollapse5" class="panel-collapse collapse">
    			<div class="panel-body">
    				    JavaScript（ジャバスクリプト）とは、プログラミング言語のひとつである。 Javaと名前が似ているが、全く異なるプログラミング言語である（後述の#歴史を参照）。 JavaScriptはプロトタイプベースのオブジェクト指向スクリプト言語であるが、クラスなどのクラスベースに見られる機能も取り込んでいる。
    			</div>
    		</div>
    	</div>
    	
    </div>
  </div>
<% end %>