 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <p class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/lj_PJMauzNU?list=UUV_bOyaNKyzKX6fnRlcu4UA" 
            frameborder="0" allowfullscreen></iframe>
      </p>
      <p class="text-center">プログラミングを学んでフリーランスを目指しましょう</p>
      <p class="text-center">
        <%= link_to "さあ、プログラミングを始めよう！", static_pages_new_path, class: "btn btn-lg btn-primary" %>
      </p>
    </div> 
    
    <%= render 'layouts/aside' %>

  </div>
 </div>
  