 <meta name="viewport" content="width=device-width; initial-scale=1.0">
 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">

          <div class="video-container">
          <iframe style="width:100%; height: auto;" src="https://www.youtube.com/embed/lj_PJMauzNU?list=UUV_bOyaNKyzKX6fnRlcu4UA" 
            frameborder="0" allowfullscreen></iframe>
            </div>
    
      <div class="txt1">
      <div class="text-center">プログラミングを学んでフリーランスを目指しましょう</div>
      <div class="text-center">
       <a class="btn btn-lg btn-primary" href="/"><div class="txt1">さあ、プログラミングを始めよう！</div></a>
      </div>
      </div>
    </div> 
    
    <%= render 'layouts/aside' %>

  </div>
 </div>
 <style>
 .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
    height: 100% !important;
}

 </style>