 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap</title>
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      </section>
      <section class="stats">
      </section>
      <section class="micropost_form">
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>セレブエンジニアサロン</h1>
  </div>

 <body>
    <div class="container">
     <div class="row" align="right">
        
        <!-- 4列をサイドメニューに割り当て -->
        <div class="col-md-4, pull-right">
         <ul class="nav nav-pills nav-stacked">
            <li class="active">サイト内リンク</a></li>
            <li><%= link_to "progate", contact_path %></li>
            <li><%= link_to "tutorial", login_path %></li>
         </ul>
        </div>
         <p class="text-left">はじめての方はこちら</p>
         <p class="text-left">動画はりつけ</p>
      </div> 
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 </body>
 <div class="center">
  <%= link_to "さあ、プログラミングを始めよう！", contact_path, class: "btn btn-lg btn-primary" %>
  </div>