<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>セレブエンジニア</title>

    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="rd5ziECy54uouzdiHYaUEDi8UsDAzz15nTmFbnHZW93rHAK7gOIk2Q3Eljy3fylPwUSZX9ZIzBKaoKx3BT6yg==" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" media="all" href="/assets/_bootstrap-custom.self-1d4e011024df4317434ff2940e03c24d13afd8b278641a89ebbac271e66bfd3a.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_classes.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_common.self-7446f5123a6f01f5d281f64b885443d1bb3a01e456b1775c383f39ff2eb7ef44.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_container.self-f9bd4c29558a700a4aba1d13e1ccefdcefd0a59712282fb2f597f9e7385c5139.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_footer.self-01348224a9ae62dcf8d070cfd405a7833f9c579973dd3d88f8184acff421f9eb.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_forms.self-5094b34de0b1757dfb04e4c0352ece248820ebaa4e7b7e391145546bd0011a13.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_header.self-f22cb4378736c0603373599b2ab9b01ebcb81edaa28aff831eae1c5e492ba130.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_parts.self-69b0a011e2c3f9e0b28712eeeeb0dcac7b19e060654194f016b42b2b1f5e461c.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_responsive.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_sidebar.self-c2e600ad4b68fc76f1248bd6273670fbb27feedd916b095ab22b9970d4a3ca5c.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_tables.self-53db8af2c6c95a859b2ebd1551af190c191a13dee7d099777f7ba19a25bb391b.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_texts.self-6705b391277cc82908b629b84219d000fffc2be9d0e7d878f98dc23ba011501f.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/_variables.self-ce3a4dbd990d609e5690b80a473cd6a43bca08d05b794958b2e60cb519b29a97.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/custom.self-77dfabe94fe5b9ed72c77c4ecb17029fa4b8da363f79071b7f47fea73b422b0b.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/tagit.ui-zendesk.self-2bc7d21f673c97eeb92557e825ac22c645ef24bae30f37f2a012772055cf0046.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/application.self-5b7defe4c10d61665d2d9df6e8e8e118acee250b45c832effee9d95e7d20b06a.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/rails_bootstrap_forms.self-10cb7d2aef696c4062f219f6678eed1d57c254a6717cea25d021726a4b9a214c.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/jquery.tagit.self-e573623a64cf35084020aea583f9ec2daa57d25cac5d174e8c97ff95621a1142.css?body=1" />
    <script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1"></script>
<script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1"></script>
<script src="/assets/tag-it.self-d8f8325065681c6b82a79e361af44ffad968ea7d305b5257c711018a2a0b7cac.js?body=1"></script>
<script src="/assets/application.self-9a948507fdee7a653be1d0bf6f1f0f473e58cc56b1fc4ffe2a95d6474014a869.js?body=1"></script>
<script src="/assets/bootstrap.self-b38817c3e3a3049abb1fc08dd6ae448b23330f8453226efdb074710209474f75.js?body=1"></script>
<script src="/assets/action_cable.self-5454023407ffec0d29137c7110917e1e745525ae9afbc05f52104c4cd6597429.js?body=1"></script>
<script src="/assets/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js?body=1"></script>
<script src="/assets/form_validate.self-6a6afdda0b1d043da013d771fb2f204867ec0885476629588254c631998cdb02.js?body=1"></script>
<script src="/assets/portfolio_comments.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon32-5f4c97e59b34516bc668574228466892f79a0898448c58f7cf3e1f804934df8f.png" />
  </head>
  
  <!--表示するページを判定-->
  
    <body class="body">
      <!--ナビゲーションバー-->
      <nav class="header navbar navbar-fixed-top">
  <div class="header-wrapper container">
    
    <!--▼ロゴ-->
    <div class="header-logo-wrapper">
      <a href="/">
        <img id="logo-header" src="/assets/logo_header-bf2f582862b549415530ede6d4d72045d9a57c262b34cbe85e9bb3bf2f4e9a14.png" alt="Logo header" />
</a>    </div>
    
    <!--▼リスト-->
    <div class="header-list-wrapper">
      
      <!--▼スマホ用-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <!--▼ＰＣ用-->
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="header-menu-list">
          <li><a href="/users">SALON MEMBERS</a></li>
          <li> 
              <a href="/users/3">MY PAGE</a>
          </li>
          <li><a rel="nofollow" data-method="delete" href="/logout">LOG OUT</a></li>
        </ul>
      </nav>
      
    </div><!--▲リスト-->
  </div>
</nav>
      
      <div class="body-wrapper">
        
        <!--コンテンツを読み込み-->
        <div class="main-wrapper">
  <div class="row">
    <div class="col-md-8">
      
      <div class="movies-page--wrapper">
        <h2 class="page-title">
          <span>ポートフォリオ の作り方</span>
        </h2>
        
          <div id="m1" class="">
            <h4 class="movie-title">ポートフォリオ の作り方</h4>
<div class="movie">
  <div id="movie-layer" class="movie-layer">セレブエンジニアリング</div>
  <!--< param = '?rel=0&amp;controls=0&amp' %>-->
  <iframe src="https://www.youtube.com/embed/UnwPmOROW2g" frameborder="0" allowfullscreen  oncontextmenu='return false'></iframe>
</div>



<script>

$(function () {

  var iframes = document.querySelectorAll("iframe");
  
  iframes[0].onload = function() {
  //console.log('hay')
  //console.log(iframes);
  var modal_layer = $('.movie-layer'); 
  // トップフレーズを表示する
  //let top_phrase = 'セレブエンジニアリング';
  // modalを表示する
  //modal_layer.html(top_phrase);
  // モーダルのcss設定
  modal_layer.css();
  // モーダルを表示状態にする
  modal_layer.show();
  
  // モーダルのcss設定
  // modal_layer.css(
  //   {'z-index' : '1',
  //   'background-color': '#373737',
  //   'color': '#F8C810',
  //   'text-align' : 'right',
  //   'line-height' : '2em',
  //   'font-size' : '1.5em',
  //   'position':'relative',
  //   'top': '34px',
  //   'height':'30px',
  //   'width' : '600px',
  //   'max-width' : '600px'
  //   }
  // );

  // HTMLとして出力する
  $('.movie-title').after(modal_layer);
  
  };
    
})();

  // モーダルのcss設定
  // $(window).on('load resize', function(){
  //   var modal_layer = $('.movie-layer');
  // //   sW = window.innerWidth;
  // // 	let adjustLayout = (sW <= 1261) 
  // // 	? {'width' :'100%', 'font-size' : '1em'} 
  // // 	: {'width' : '410px'};
  
  // //   modal_layer.css(adjustLayout);
  
  // });
</script>

</script>
        </div>
      </div>
    </div>
    <aside class="col-md-4">
  <div class="sidebar-wrapper">
    
    <div class="sidebar-title">MENU</div>
    
    <ul class="sidebar-list">
        <li><a class="" href="/movie_categories/1">はじめに</a></li>
        <li><a class="" href="/movie_categories/2">フリーエンジニアとは</a></li>
        <li><a class="" href="/movie_categories/3">できるエンジニアになる</a></li>
        <li><a class="" href="/movie_categories/4">就活編</a></li>
        <li><a class="" href="/movie_categories/5">プログラム学習編</a></li>
      <li><a class="" href="/progate">Progate進捗入力</a></li>
      <li><a class="" href="/railstutorial">RailsTutorial進捗入力</a></li>
      <li><a class="" href="/portfolio_mv">ポートフォリオの作り方</a></li>
      <li><a href="/qa">よくある質問</a></li>
      <li><a href="/qiita_posts">Qiita投稿まとめ</a></li>
      <li><a href="/interview_posts">面談内容共有</a></li>
    </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </body>
</html>