 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <div class="movie">
        <iframe src="https://www.youtube.com/embed/B-IQt9NXb5A" 
        frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="text-center">
        <!-- whateverの値はmodal formに渡セル-->
        <button type="button" id="show-feedback-form" class="txt2 btn btn-lg btn-primary">みました！</button>
      </p>
      
      <%= render 'layouts/form' %>
      
      <p class="txt2 text-center"><a href="https://prog-8.com/mypage">プロゲートはこちら</a></p>
      <p class="text-center">
      </p>
          <h3 class="txt3 status-name">[Progate] HTML&CSS</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th>コース</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース/初級</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
    <tr>
      <td>学習コース/中級</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>    
    <tr>
      <td>道場コース/初級</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
    <tr>
      <td>道場コース/中級</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
    <tr>
      <td>道場コース/上級</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
    <tr>
      <td>実践コース/1</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
    <tr>
      <td>実践コース/2</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this)"></td>
    </tr>
  </tbody>
</table>


<h3 class="txt3 status-name">[Progate] JavaScript</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th>コース</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース/基礎</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
    <tr>
      <td>道場コース/基礎</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
  </tbody>
</table>

<h3 class="txt3 status-name">[Progate] Ruby</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th>コース</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース 1</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
    <tr>
      <td>学習コース 2</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
    <tr>
      <td>学習コース 3</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
    <tr>
      <td>学習コース 4</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
    <tr>
      <td>学習コース 5</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
  </tbody>
</table>

<h3 class="txt3 status-name">[Progate] Ruby on Rails</h3>
<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th>コース</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>学習コース 1</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 2</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 3</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 4</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 5</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 6</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 7</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 8</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 9</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 10</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>学習コース 11</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>道場コース 1</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>道場コース 2</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>道場コース 3</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>

    <tr>
      <td>道場コース 4</td>
      <td><input type="button" value="未完" class="txt3 btn btn-lg btn-primary" onclick="OnOffh(this);"></td>
    </tr>
  </tbody>
</table>
    </div> 
    

    <%= render 'layouts/aside' %>

  </div>
 </div>

<script type="text/javascript">
<!--
function OnOffh(lolh){
	if (lolh.value == "未完") {
		lolh.value = "完了";
		disabled 
	} else {
		lolh.value = "未完";
	}
}

</script>
<script>
$(function(){
    var     $button = $('.submit-btn'),
            disabled_class = 'disabled';
 
    if($text.val().length == 0) {
        $button.prop('disabled',true).addClass('disabled');
    }
        if(thisValueLength >= 100){
            $button.prop('disabled',false).removeClass(disabled_class);
            jQuery( '.has-error' ).hide();
        }else{
            $button.prop('disabled',true).addClass(disabled_class);
            jQuery( '.has-error' ) . text( '100文字以上入力してください' );
            jQuery( '.has-error' ).show();
        }
    });
});
</script>