 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">

      <%= render 'layouts/form1' %>
      
    </div> 
    
    <%= render 'layouts/aside' %>
    
  </div>
 </div>

