 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <p class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B-IQt9NXb5A" frameborder="0" allowfullscreen></iframe>
      </p>
      <p class="text-center">
        <!-- whateverの値はmodal formに渡セル-->
        <button type="button" id="show-feedback-form" class="btn btn-lg btn-primary" data-toggle="modal">感想を送る！</button>
      </p>
 
      
      <%= render 'layouts/form' %>
      
      <%= render 'layouts/progress' %>
    </div> 
    
    <%= render 'layouts/aside' %>
    
  </div>
 </div>

<script type="text/javascript">
<!--
function OnOffh1(lolh1){
	if (lolh1.value == "初級完了") {
		lolh1.value = "初級完了済み";
	} else {
		lolh1.value = "初級完了";
	}
}
function OnOffh2(lolh2){
	if (lolh2.value == "中級完了") {
		lolh2.value = "中級完了済み";
	} else {
		lolh2.value = "中級完了";
	}
}
</script>
