<div class="position: fixed;">
  <div class="col-md-4, pull-right">
         <ul class="nav nav-pills nav-stacked">
             <br></br>
            <br></br>
            <br></br>
            <li class="active">ページリンク</a></li>
            <li><a href="/static_pages/home">はじめに</a></li>
            <li><%= link_to "フリーとは", signup_path %></li>
            <li><%= link_to "progate", contact_path %></li>
            <li><%= link_to "railsチュートリアル", login_path %></li>
            <li><a href="/static_pages/qa">railsチュートリアル：よくある質問</a></li>
         </ul>
    </div>
</div>
        <div class="container">
        <div class="row" align="right">
            <br></br>
            <br></br>
<h2>よくある質問</h2>
<a class="btn btn-default" data-toggle="collapse" href="#collapseExample">
	Q1:rails serverが起動できません
</a>
<div class="collapse" id="collapseExample">
	<div class="well">
		A:カレントディレクトリを確認してみましょう
	</div>
</div>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
<h2>Q1:rails serverが起動できません</h2>
<h2>A:カレントディレクトリを確認してみましょう</h2>
</div>
</div>
<script>
  (function(window, $) {
    'use strict';
    $(function() {
      // スクロール位置と連動させない場合は不要(scrollspy用)
      $(document.body).scrollspy({ target: '.algo13-sidebar' });

      // スクロール位置と連動させない場合は不要(scrollspy用)
      $(window).on('load', function() { $(document.body).scrollspy('refresh') });

      // 固定サイドバーのスクロール追従開始＆終了位置の設定(affix用)
      setTimeout(function() {
        $('.algo13-sidebar').affix({
          offset: {
            top: function() {
              return (this.top = $('header').outerHeight(true));
            },
            bottom: function() {
              return (this.bottom = $('footer').outerHeight(true));
            }
          }
        })
      }, 100);
    });
  })(window, jQuery);
  </script>