 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <p>よくある質問</p>
      <!--　QA bootstrap アコーディオン -->
      <div class="panel-group" id="sampleAccordion">
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
      					タイトルＡ
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse1" class="panel-collapse collapse in">
      			<div class="panel-body">
      				タイトルＡのコンテンツ
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse2">
      					タイトルＢ
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse2" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルＢのコンテンツ
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse3">
      					タイトルＣ
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse3" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルＣのコンテンツ
      			</div>
      		</div>
      	</div>
      	
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse4">
      					タイトルD
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse4" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルDのコンテンツ
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse5">
      					タイトルE
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse5" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルEのコンテンツ
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse6">
      					タイトルF
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse6" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルFのコンテンツ
      			</div>
      		</div>
      	</div>
      	<div class="panel panel-default">
      		<div class="panel-heading">
      			<h3 class="panel-title">
      				<a style="display:block" data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse7">
      					タイトルG
      				</a>
      			</h3>
      		</div>
      		<div id="sampleAccordionCollapse7" class="panel-collapse collapse">
      			<div class="panel-body">
      				タイトルGのコンテンツ
      			</div>
      		</div>
      	</div>
      </div>
      <!-- end -->
    </div> 
    <%= render 'layouts/aside' %>
  </div>
 </div>
