 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
      <div class="text-center">
          <iframe src="https://www.youtube.com/embed/37XxB1Mzk6U" 
            frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="text-center">ここはrails tutorialの動画</div>
      <div class="text-center">
        <%= link_to "見ました", root_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div> 
    
    <%= render 'layouts/aside' %>

  </div>
 </div>
  