
  <div class="col-md-4, pull-right">
         <ul class="nav nav-pills nav-stacked">
             <br></br>
             <br></br>
             <br></br>
            <li class="active">ページリンク</a></li>
            <li><a href="/static_pages/home">はじめに</a></li>
            <li><%= link_to "フリーとは", signup_path %></li>
            <li><%= link_to "progate", contact_path %></li>
            <li><%= link_to "railsチュートリアル", login_path %></li>
            <li><a href="/static_pages/qa">railsチュートリアル：よくある質問</a></li>
         </ul>
        </div>
        <div class="container">
        <div class="row" align="right">
            <br></br>
            <br></br>
<h2>フリーとは</h2>
<p align="left"><iframe width="560" height="315" src="https://www.youtube.com/embed/lwrrQKRllRs" frameborder="0" allowfullscreen></iframe>
            </p>
