
 <meta name="viewport" content="width=device-width; initial-scale=1.0">
 <div class="main-wrapper container">
  <div class="row">
    <div class="col-sm-9">
         <h1 class="txt2">プログラミング学習編</h1>
      </div>
    <%= render 'layouts/aside' %>
  </div>
 </div>