<div class="main posts-index">
  <div class="container">
    <% @comments.each do |comment| %>
    <p>------------------------------------------------------------------------</p>
      <div class="posts-index-item">
        <p><%= comment.content %></p>
      </div>
      <span class="timestamp">
        Posted <%= comment.created_at %>.
   
   
      <%= link_to "削除", comment.id, method: :delete,
                                       data: { confirm: "You sure?" } %>
     
      </span>
    <% end %>
  </div>
</div>
