<div class="main posts-index">
  <div class="container">
    <% @comments.each do |comment| %>
    <p>------------------------------------------------------------------------</p>
      <div class="posts-index-item">
        <p><%= comment.content %></p>
      </div>
      <span class="timestamp">
        Posted <%= comment.created_at %>.
 
      </span>
    <% end %>
  </div>
</div>
