  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
      <h1 class="form-heading">投稿する</h1>
        <%= form_tag('/comments/create') do %>
          <div class="field">
            <textarea name="content"></textarea>
          </div>
          <input type="submit" value="投稿">
        <% end %>
      </section>
    </aside>
  </div>