<div class="com-main"> 
  <h3>ポートフォリオの解説</h3>
  <h2 class="txt3">
    [ <%= current_user.nickname %>さんの作品 ]
  </h2>
    <%= render 'portfolio_comments/new' %>

  
  <% if @comments.any? %>
    <%= render 'portfolio_comments/index' %>

    <% end %>
</div>


 



  
