<form method="POST" action="sample.cgi">
 <div>
	<table border=0>
		<tr>よくある質問の作成</tr>

		<tr>
			<td valign="top">Q :</td>
			<td><textarea name="msg" cols=40 rows=5></textarea></td>
		</tr>

		<tr>
			<td valign="top">A :</td>
			<td><textarea name="msg" cols=40 rows=5></textarea></td>
		</tr>
	</table>

 </div>
 <input type="submit" value="更新">
</form>