<h2 class="page-title">
  <span>スキルシート投稿</span>
</h2>

<div class="center">
  <%= '新規投稿' %>
</div>
<li>20180205_松井.excel</li>
<li>20180205_イチロー.excel</li>
<li>20180205_松坂.excel</li>
<li>20180205_上原.excel</li>
<li>20180205_桑田.excel</li>
<li>20180205_中田.excel</li>
<li>20180205_小林.excel</li>
<li>20180205_筒香.excel</li>