<h4 class="movie-title d-inline-flex"><%= movie.title %></h4>
<div class="movie">
  <% param = '?rel=0&amp;controls=0&amp' %>
  <iframe src="<%= movie.path + param %>" frameborder="0" allowfullscreen></iframe>
</div>
<% if @category.must_view %>
  <p class="text-center">
    <% if current_user.feedbacks.find_by(movie_id: movie.id) %>
      <button type="button" id="show-form<%= movie.sort_order %>" class="btn btn-lg mv-comp btn-comp">感想送信済み</button>
    <% else %>
      <button type="button" id="show-form<%= movie.sort_order %>" class="btn btn-lg mv-comp">感想を提出する</button>
    <% end %>
  </p>
<% end %>
