<h4 class="movie-title d-inline-flex"><%= movie.title %></h4>
<div class="movie">
  <% param = '?rel=0&amp;controls=0&amp' %>
  <iframe src="<%= movie.path + param %>" frameborder="0" allowfullscreen></iframe>
</div>
<% if @category.must_view %>
  <p class="text-center">
    <% if current_user.feedbacks.find_by(movie_id: movie.id) %>
      <button type="button" id="show-form<%= movie.sort_order %>" class="btn btn-lg mv-comp btn-comp">感想送信済み</button>
    <% else %>
      <button type="button" id="show-form<%= movie.sort_order %>" class="btn btn-lg mv-comp">感想を提出する</button>
    <% end %>
  </p>
<% end %>

<div id="modal-form" style="background-color:yellow; width:100%; height:100px; display:none;"></div>

<script>
  
  (function() {

    var iframes = document.querySelectorAll("iframe");
    
    iframes[0].onload = function() {
        var modal_form = $('#modal-form'); 
        // トップフレーズを表示する
        let top_phrase = $('.top-phrase').text();
        // modalを表示する
        modal_form.html(top_phrase);
        // モーダルを表示状態にする
        modal_form.show();
        
        // モーダルのcss設定
        $('#modal-form').css(
          {'z-index' : '9999',
          'background-color': 'black',
          'color': '#F8C810',
          'text-align' : 'center',
          'line-height' : '2em',
          'font-size' : '1.5em',
          'position':'relative',
          'top': '34px',
          'height': '50px',
          }
        );
        
        // HTMLとして出力する
        $('.movie-title').after(modal_form);
        
        // todo window widthが1259px以上になったらmodal-formのwidthをmax-width:500pxにしたい
        
    };
    
})();

</script>