<div class="category-form">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@movie_category) do |f| %>
        <%= f.label :name, 'カテゴリ名', class: 'txt3' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.submit "登録", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>