<h4 class="movie-title"><%= movie.title %></h4>
<div class="movie">
  <div id="movie-layer" class="movie-layer">セレブエンジニアリング</div>
  <% param = '?rel=0' + '&controls=0' + '&modestbranding=1' %>
  <div class="iframe-responsive">
  <iframe width="480" height="340" src="<%= movie.path + param %>" frameborder="0" allowfullscreen  oncontextmenu='return false'></iframe>
</div>
</div>



<% if @category.must_view %>
  <div class="mv-btn">
    <% if current_user.feedbacks.find_by(movie_id: movie.id) %>
      <%= image_submit_tag("button_feedback2.png", id: "show-form#{movie.sort_order}", class: "img-feed-btn") %>
    <% else %>
      <%= image_submit_tag("button_feedback1.png", id: "show-form#{movie.sort_order}", class: "img-feed-btn") %>
    <% end %>
  </div>
<% end %>
