<h4 class="movie-title"><%= movie.title %></h4>
<div class="movie">
  <div id="movie-layer" class="movie-layer"></div>
  <% param = '?rel=0' + '&controls=0' + '&modestbranding=1' %>
  <!--< param = '?rel=0&amp;controls=0&amp' %>-->
  <iframe src="<%= movie.path + param %>" frameborder="0" allowfullscreen></iframe>
</div>

<% if @category.must_view %>
  <div class="mv-btn">
    <% if current_user.feedbacks.find_by(movie_id: movie.id) %>
      <%= image_submit_tag("button_feedback2.png", id: "show-form#{movie.sort_order}", class: "img-feed-btn") %>
    <% else %>
      <%= image_submit_tag("button_feedback1.png", id: "show-form#{movie.sort_order}", class: "img-feed-btn") %>
    <% end %>
  </div>
<% end %>



<script>
(function() {

  var iframes = document.querySelectorAll("iframe");
  
  iframes[0].onload = function() {
  //console.log('hay')
  //console.log(iframes);
  var modal_layer = $('.movie-layer'); 
  // トップフレーズを表示する
  let top_phrase = 'セレブエンジニアリング';
  // modalを表示する
  modal_layer.html(top_phrase);
  // モーダルのcss設定
  modal_layer.css();
  // モーダルを表示状態にする
  modal_layer.show();
  
  // モーダルのcss設定
  // modal_layer.css(
  //   {'z-index' : '1',
  //   'background-color': '#373737',
  //   'color': '#F8C810',
  //   'text-align' : 'right',
  //   'line-height' : '2em',
  //   'font-size' : '1.5em',
  //   'position':'relative',
  //   'top': '34px',
  //   'height':'30px',
  //   'width' : '600px',
  //   'max-width' : '600px'
  //   }
  // );

  // HTMLとして出力する
  $('.movie-title').after(modal_layer);
  
  };
    
})();

  // モーダルのcss設定
  $(window).on('load resize', function(){
    var modal_layer = $('.movie-layer');
    sW = window.innerWidth;
  	let adjustLayout = (sW <= 1261) 
  	? {'width' :'100%', 'font-size' : '1em'} 
  	: {'width' : '410px'};
  
    modal_layer.css(adjustLayout);
  
  });
</script>
