<h1 class="txt5">動画カテゴリ編集</h1>
<%= @movie_category.name %>

<div id="sort_table">
  <% if @movies.present? %>
    <%= render :partial => 'sort_table', locals: { movies: @movies } %>
  <% end %>
</div>

<%= render :partial => 'movie_category_form' %>

<%= link_to '削除', @movie_category, method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %>