<h2 class="page-title">カテゴリ順序の変更</h2>

<div id="category_sort_table">
  <% if @categories.present? %>
    <%= render :partial => 'sort_table', locals: { categories: @categories } %>  
  <% end %>
</div>

<div class="center mt_20">
  <%= link_to '<< 動画一覧へ戻る', movies_path %>
</div>